<!-- myapp/templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Input</title>
</head>
<body>

<h2>Enter Text:</h2>
<input type="text" id="textInput">
<button onclick="sendText()">Submit</button>

<div>
    <h2>Result:</h2>
    <p><strong>Input Text:</strong> <span id="inputText"></span></p>
    <p><strong>Prediction:</strong> <span id="prediction"></span></p>
</div>

<script>
    function sendText() {
        var textInput = document.getElementById("textInput").value;

        fetch("index-rest/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ "text": textInput })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);

            document.getElementById("inputText").innerText = data.input_text;
            document.getElementById("prediction").innerText = data.prediction;
        })
        .catch(error => {
            console.error("Error:", error);
        });
    }
</script>

</body>
</html>
